.react-datepicker {
    border: none;
}

.react-datepicker__day--selected {
    background-color: #C49589 !important;
}

.react-datepicker__day-name {
    color: #EDEBE8 !important;
    font-size: .9rem;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    line-height: 2rem !important;
    width: 2rem !important;
}

.react-datepicker__header {
    background-color: #C49589 !important;
    font-weight: 600 !important;
}

.react-datepicker__header button {
    background-color: #D4B89F;
    border: none;
    border-radius: .3125rem;
    margin: 1rem;
    padding: .5rem;
    width: 2rem;
}

.react-datepicker__header select {
    background-color: #EDEBE8 !important;
}

@media (min-width: 991px) {

    .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
        width: 3.7rem !important;
    }

    .react-datepicker__header select {
        width: 25%;
    }
}