.disabled:hover {
    background-color: #F5F4F2 !important;
    border: solid .01rem #000 !important;
    color: rgba(0, 0, 0, 0.7) !important;
}

.dtb {
    background-color: #F5F7FA;
    border: solid .5rem rgba(0, 0, 0, 0.7);
    border-radius: 1.5625rem;
    margin-top: 2rem;
    padding: 1rem;
}

.dtb select {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: .625rem;
    color: #F5F7FA;
    height: 3.125rem;
    margin: 0 .5rem;
    opacity: 0.8;
    width: 6.25rem;
}

.dtb-entries {
    font-weight: 600;
}

.dtb-pagination-btn {
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-color: #F5F7FA !important;
    border-radius: .3125rem;
    color: #F5F4F2 !important;
    margin: 1rem .5rem;
}

.dtb-search {
    margin: 0 1rem 2rem 0;
    padding: 1rem;
}

.dtb-search input {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: .625rem;
    border-style: none;
    color: #F5F7FA;
    height: 2.375rem;
    opacity: 0.8;
    padding: 0 0 0 1rem;
    width: 15.625rem;
}

.dtb-search label {
    font-weight: 600;
    margin: 0 1rem 1rem 0;
}

.dtb-showing {
    margin-top: 2rem !important;
}

.dtb-table {
    max-width: 100%;
}

.dtb-table-cell,
.first-cell {
    background-color: #F5F7FA !important;
}

.dtb-table-header-cell {
    text-transform: uppercase;
}