.error {
    align-items: center;
    text-align: center;
}

.error h1 {
    font-size: 10rem;
    margin-bottom: 0;
}

.error h3{
    font-size: 5rem;
    color: #445E51;
    margin: 0;
}

.error p{
    font-size: 2rem;
    color: #C49589;
}